* {
  font-family: "Roboto", sans;
}
body {
  background: url("images/mapa.jpg") center center no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.vidro {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 8px 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.pesquisa {
  margin-bottom: 2rem;
}

.definicao {
  margin: 2rem auto;
  text-align: center;
}

.container-principal {
  margin-bottom: 3rem;
}

.tempo-definicao > hr, .vidro > hr {
  border: 2px solid #000;
  border-radius: 1rem;
}

a {
  color: blue;
  margin-left: 2rem;
}

h1, h6 {
  margin: 1rem;
  padding: 2rem 2rem 0;
}

.input, .btn {
  margin: 1rem 3rem 2rem;
}

.textoPesquisa {
  padding: 0.5rem 1rem 0.5rem 0;
}

.imagemHoje {
  padding: 1rem 5rem 1rem 1rem;
  width: 140%;
}

img {
  width: 15%;
  padding: 0;
  margin: auto 1rem auto auto;
}

.tempo {
  margin: 0 0.5rem;
}

h3 {
  margin: 2rem auto auto 1rem;
}

h4 {
  font-weight: 900;
  margin: 2rem auto;
}

p {
  padding: 0 0.5rem;
}

.tempo-definicao > p {
  margin: 1rem auto;
  text-align: center;
}

.horas {
  height: 95%;
}