* {
  font-family: "Roboto", sans;
}
.conteudoTotal {
  height: 400vh;
  background: linear-gradient(320deg, rgba(2, 0, 36, 100%) 0%, rgba(2, 0, 36, 80%) 20%, rgba(40, 63, 181, 50%) 50%, rgba(0, 218, 255, 50%) 80%, rgba(0, 218, 255, 1%) 100%);
}

.vidro {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 8px 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

a {
  color: blue;
  margin-left: 2rem;
}

h1, h6 {
  margin: 1rem;
  padding: 2rem 2rem 0;
}

.input {
  margin: 1rem 3rem 2rem;
}

.textoPesquisa {
  padding: 0.5rem 1rem 0.5rem 0;
}

.imagemHoje {
  padding: 1rem 5rem 1rem 1rem;
  width: 140%;
}

img {
  width: 15%;
  padding: 0;
  margin: auto 1rem auto auto;
}

.tempo {
  margin: 0 0.5rem;
}

h3 {
  margin: 2rem auto 2rem 1rem;
}

h4 {
  font-weight: 900;
  margin: 2rem auto;
}

p {
  padding: 0 0.5rem;
}

.tempo-definicao > p {
  margin: 1rem auto;
  text-align: center;
}

.horas {
  height: 95%;
}